.event{
  color: #000000;
  border-radius: 15px 50px;
  border: 5px solid black;
  background-color: #7cbeec;



  &:hover{
    background-color: darken(#7cbeec,20%);
    text-decoration: lavender;
    text-underline: none;


  }

}

.eventold{
  color: #000000;
  border-radius: 15px 50px;
  border: 5px solid black;
  opacity: 0.5;
  background-color: gray;
}

.fondo{

}

.badge{
  font-size: larger;
}
.nmax{

  padding-top: 10px;
}
hr{
  border: none;
}
.easy-edit-not-allowed{
  &:hover{
    cursor: auto;

  }
}

span.badge{
  font-size: 15px
}
body, html {
  height: auto;
}

.bg {

  height: auto;

}

