.event{
  color: #000000;



  &:hover{
    background-color: darken(#7cbeec,20%);
    text-decoration: lavender;
    text-underline: none;


  }
}
.fondo{
  background-color: #7cbeec;
}

.badge{
  font-size: larger;
}
.nmax{

  padding-top: 10px;
}
hr{
  border: none;
}
.easy-edit-not-allowed{
  &:hover{
    cursor: auto;

  }
}