.event{
  color: #6a2c70;



  &:hover{
    background-color: darken(#f08a5d,20%);
    text-decoration: lavender;
    text-underline: none;


  }
}
.fondo{
  background-color: #f08a5d;
}

.badge{
  font-size: larger;
}
.nmax{

  padding-top: 10px;
}