




.info-event{
  color: #282c34;
  background-color: #7cbeec;
  height: 50vh;
  width: 100%;
  border: 3px solid gray;

  h4{
    width: 50%;
    margin: 0 auto;


  }
}

.important-event{
  color: #282c34;
  background-color: #7cbeec;
  height: 50vh;
  width: 70%;

}


.crown{
  &:hover{
    color: gold;

  }
}

.trash{
  &:hover{
    color: red;

  }
}