




.info-event{
  color: #0f0f10;
  background-color: #9a9a9f;
  height: 50vh;
  width: 100%;
 border: solid 2px black;

  h4{
    width: 50%;
    margin: 0 auto;


  }
}


.crown{
  &:hover{
    color: gold;

  }
}

.trash{
  &:hover{
    color: red;

  }
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px ;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
