body,html{
  background-color: #f9ed69;
  font-family: fantasy;
  color: #6a2c70;
}


.buttonjoin{
  position: fixed;
  bottom: 20px;
  right: 25%; }

.buttonadd{
  position: fixed;
  bottom: 20px;
  left: 25%; }
.noevent {
  background-color: #393e46;
  height: 100vh;
  margin: fill;
  width: 100vh;
  align-content: center;
}